{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
    <link rel="stylesheet" href={% static "css/stylePrueba.css"%}>
</head>
<body>

<section>
    <div class="contenedor-textos">
        <h2>Modal</h2>
        <p> Lorem ipsum dolor amet consectur adipisicing</p>
        <a href="#" class="cta">Modal</a>

    </div>
</section>
<div class="modal-container">
    <div class="modal modal-close">
        <p class="close">X</p>
        <div class="modal-textos">
            <h2> Get premium</h2>
            <p> Lorem ipsum, dolor sit amet consectetur adipicing.</p>
        </div>
    </div>
</div>
    <script src="/static/script/ventanaEmergente.js"></script>
</body>
</html>