{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static 'css/stylePDF.css' %}">
    <title>PDF TICKET EXIT</title>
</head>
<body>
<br>
<br>

    <h1 align="center" style="font-size: 20px; margin-top: 80px"> TIQUETE DE SALIDA </h1>
            <br>
            <br>
            <br>
    <div style="margin-left: 100px">

                <ul >
                    <li style="font-size: 16px"> <b>Bahia:</b> {{ data.bay_id }} </li>
                    <li style="font-size: 16px"> <b>Vehiculo:</b> {{ data.vehicle_id }} </li>
                    <li style="font-size: 16px"> <b>Hora Entrada:</b> {{ data.entry_time }} </li>
                    <li style="font-size: 16px"> <b>Total tiempo:</b> {{ data.total_time }} horas.</li>
                    <li style="font-size: 16px"> <b>Hora Salida:</b> {{ data.departure_time }} </li>
                    <li style="font-size: 16px"> <b>Costo:</b> {{ data.cost }} pesos.</li>
                    <li style="font-size: 16px"> <b>Fecha:</b> {{ data.date }} </li>
                </ul>
    </div>
    <br>
    <br>
    <br>
    <p style="padding-left: 100px; padding-right: 100px; font-size: 15px; text-align: justify"> El PARQUEADERO INFORMA que el vehiculo sera entregado al portador de este recibo y solo mediante la
    presentacion de el. Si el duenno lo pierde no nos hacemos responsables del vehiculo entregado a la persona que
    lo presente. No aceptamos ordenes telefonicas ni escritas sobre este recibo o entrega del vehiculo. No
    respondemos por objetos dejados dentro de los vehiculos, si no son entregados directamente a la administracion
    no se hace responsable por perdidas, deterioros o dannos ocurridos como consecuencia de incendios, terremotos o causas
    similares motin, asonada. conmocion civil, revolucion u otros eventos que impliquen fuerza mayor o caso fortuito.
    <br>
    <br>
    <br>
    <br>
    <br>
        <b>ATENCION:</b> DESPUES DE 10 MINUTOS SE COBRARA LA HORA DEL SERVICIO.
        <br>
        <br>
        <br>
        <p style="text-align: center; font-size: 15px">GRACIAS POR UTILIZAR NUESTRO SERVICIO</p>
    </p>
</body>
</html>