{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'css/styleWebPage.css' %}">
    <script src="https://kit.fontawesome.com/630f03d38f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <title>LISTA BAHIAS</title>

</head>
<body>

    <header>
        <nav>
            <div class="icono-menu">
                <img src="http://assets.stickpng.com/images/588a64e0d06f6719692a2d10.png" alt="" id="icono-menu">
            </div>
            <div class="icono-crear">
                <img src="../../../resources/Logo/crear.png" alt="" id="icono-crear">
            </div>
            <div class="icono-modificar">

                <img src="../../../resources/Logo/editar.png" alt="" id="icono-modificar">
            </div>
            <img class="imagLogo" src="../../../resources/Logo/LogoFinal.png">
        </nav>
    </header>

        <div class="cont-menu active" id="menu">
            <ul>
                <br>
                <h1>LISTA DE BAHIAS</h1> <br><br>
                <a class="selectButton" href="{%url  'createPerson' %}"> <li> <i class="fas fa-car"> </i> Ingreso de Vehiculo </li></a>
                <a class="selectButton" href="{%url  'listVehicles' %}"> <li> <i class="fas fa-car"></i> Salida de Vehiculo </li></a>
                <a class="selectButton" href="{%url  'listPerson' %}"> <li> <i class="fas fa-user"></i> Clientes </li></a>
                <a class="selectButton" href="{%url  'listVehicles' %}"><li> <i class="fas fa-car-side"></i>Vehiculos </li></a>
                <li> <i class="fas fa-dollar-sign"></i> <span>     Caja</span></li>
                <a class="selectButton" href="{%url  'listTariff' %}"><li> <i class="fas fa-money-bill-alt"></i>Tarifa </li></a>
                <a class="selectButton" href="{%url  'generarPDF' %}" target="_blank"> <li> <i class="far fa-file-alt"></i> Reportes </li> </a>
                <a class="selectButton" href="{%url  'principal' %}"> <li> <i class="fas fa-sign-in-alt"></i>Volver </li></a>
            </ul>
        </div>
        <div class="cont-menu active" id="modificar">
           <ul>
                <br>
                <h1>MODIFICAR</h1> <br><br>
                <a class="selectButton" href="{%url  'listParkingLot' %}"> <li> <i class="fas fa-plus"></i> M.Parqueadero </li></a>
                <a class="selectButton" href="{%url  'listCash' %}"> <li> <i class="fas fa-plus"></i> M.Caja</li></a>
                <a class="selectButton" href="{%url  'listBay' %}"> <li> <i class="fas fa-plus"></i> M.Bahia </li></a>
                <a class="selectButton" href="{%url  'listPerson' %}"> <li> <i class="fas fa-plus"></i> M.Persona </li></a>
                <a class="selectButton" href="{%url  'listVehicles' %}"> <li> <i class="fas fa-plus"></i> M.Vehiculo </li></a>
                <a class="selectButton" href="{%url  'listTypeVehicle' %}"> <li> <i class="fas fa-plus"></i> M.T_Vehiculo </li></a>
                <a class="selectButton" href="{%url  'listTariff' %}"> <li> <i class="fas fa-plus"></i> </i> M.Tarifa </li></a>
            </ul>
        </div>

    <script src="/static/script/mainWeb.js"></script>
    <script src="/static/script/modificar.js"></script>

    <section>
        <div class="reloj" align="center">
            <span class="alinearHora" id="reloj">  </span>
            <span class="alinearFecha" id="fec_Datos"></span>
        </div>
        <script src="/static/script/relojWeb.js"></script>
    </section>




    {% for par in parqueadero %}
            <hr class="linea" color="#01C501" size="1">
                <div class="franjaVerde">
                    <p> Parqueadero ubicado en la {{ par.location }}</p>
                </div>
            <hr class="linea2" color="#01C501 " size="3">

                <h2 class="parqueadero"> {{ par.name }} </h2>

        <div class="ubicacion">
            <form action="{% url 'searchBay' %}" method="post" align="center"  >
                   <input name="search" type="text" class="icon-placeholder" placeholder="  Searh" >
            </form>
        </div>
        <a class="selectButtonBack" href="{%url  'listBay'%}"> <i class="fas fa-arrow-alt-circle-left"></i></a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <body2>
                <div class="footer"> </div>
            {% for item in lista %}
                {% if item.par_id.id == par.id %}

                        <div class="posicionCard">
                        {% if item.available == False %}
                            <div class="card2">
                             <div class="card1-content">
                                        <p> <b>Bahia No: </b> {{ item.number }}</p><br>
                                        <p> <b>Parqueadero: </b> {{ item.par_id }}</p><br>
                                        <p> <b>Disponible: </b> {{ item.available }}</p><br>
                                        <a class="selectButtonEdit" href="{%url  'editBays' item.pk %}"> <i class="fas fa-pen-square"></i></a>
                                        <a class="selectButtonDelete" href="{%url  'deleteBays' item.pk %}"> <i class="fas fa-trash-alt"></i></a>

                                </div>
                            </div>
                            {% else %}
                            <div class="card1">
                             <div class="card1-content">
                                        <p> <b>Bahia No: </b> {{ item.number }}</p><br>
                                        <p> <b>Parqueadero: </b> {{ item.par_id }}</p><br>
                                        <p> <b>Disponible: </b> {{ item.available }}</p><br>
                                        <a class="selectButtonEdit" href="{%url  'editBays' item.pk  %}"> <i class="fas fa-pen-square"></i> </a>
                                        <a class="selectButtonDelete" href="{%url  'deleteBays' item.pk  %}"> <i class="fas fa-trash-alt"></i> </a>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                {% endif %}
            {% endfor %}
            </body2>


    {% endfor %}


</body>
</html>
